* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://randapi.huahuo-cn.tk/api);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.frame {
    margin: 5vw;
    text-align: center;
}
.frame .top {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255,255,255,0.75);
}

@media screen and (min-width: 768px) {
    .frame .bottom-left {
        width: 74%;
        float: left;
    }
    .frame .bottom-right {
        width: 26%;
        float: right;
    }
    .frame .button {
        float: right;
    }
}

.frame .button {
	width: 100%;
	height: 48px;
	border: none;
	outline: none;
	border-top: 1px white;
	background-color: #8e66da;
	color: white;
}

img {
    width: 100%;
    background-color: gray;
}
